.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  border: 1px solid;
  border-radius: 15px;
  padding: 5px 0;
  cursor: pointer;

  &:hover {
    background-color: #edeef0;
    cursor: pointer;
  }
}
