.header {
  background-color: #edeef0;
  margin-bottom: 20px;

  &__container {
    display: flex;
    max-width: 1070px;
    align-items: center;
    justify-content: space-around;
    height: 60px;
    margin: 0 auto;
  }

  &__popular-values {
    display: flex;

    @media (max-width: 730px) {
      & {
        display: none;
      }
    }

    & span:not(:last-child) {
      margin-right: 40px;
    }
  }

  &__item {
    border: 1px solid #fff;
    background-color: #fff;
    border-radius: 10px;
    padding: 5px 10px;
    margin: 5px;

    & span {
      font-weight: 500;
    }
  }

  &__portfolio-button {
    border: 1px solid;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;

    &:hover {
      background-color: #fff;
    }
  }
}
