.header {
  background-color: #edeef0;
  margin-bottom: 20px;

  &__container {
    display: flex;
    max-width: 1000px;
    align-items: center;
    justify-content: space-around;
    height: 60px;
    margin: 0 auto;
  }

  &__popularValues {
    display: flex;

    & span:not(:last-child) {
      margin-right: 40px;
    }
  }

  &__portfolio-button {
    border: 1px solid;
    padding: 10px;
    cursor: pointer;

    &:hover {
      background-color: #fff;
    }
  }

  &__portfolio {
    display: flex;
    align-items: center;
    padding: 15px;
  }

  &__item {
    margin-right: 60px;
  }

  &__delete {
    border: 1px solid;
    padding: 0 8px;

    &:hover {
      background-color: #edeef0;
      cursor: pointer;
    }
  }
}
