.header {
  background-color: #edeef0;
  margin-bottom: 20px;

  &__container {
    display: flex;
    max-width: 1070px;
    align-items: center;
    justify-content: space-around;
    height: 60px;
    margin: 0 auto;

    &-popularValues {
      display: flex;

      @media (max-width: 730px) {
        & {
          display: none;
        }
      }

      & span:not(:last-child) {
        margin-right: 40px;
      }

      &-item {
        border: 1px solid #fff;
        background-color: #fff;
        border-radius: 10px;
        padding: 5px 10px;
        margin: 5px;

        & span {
          font-weight: 500;
        }
      }
    }

    &-portfolio-button {
      border: 1px solid;
      border-radius: 10px;
      padding: 10px;
      cursor: pointer;

      &:hover {
        background-color: #fff;
      }
    }
  }

  &__portfolio {
    display: flex;
    align-items: center;
    padding: 15px;

    &-price {
      display: flex;
      flex-direction: column;
      border-bottom: 1px solid;

      &-item {
        margin: 5px 0;
      }
    }

    &-item {
      margin-right: 60px;
    }

    &-name {
      min-width: 130px;
    }

    &-valueCount {
      min-width: 30px;
    }
    &-priceUsd {
      min-width: 130px;
    }

    &-delete {
      border: 1px solid;
      border-radius: 100%;
      padding: 0 8px;

      &:hover {
        background-color: #edeef0;
        cursor: pointer;
      }

      &-modal {
        display: flex;
        justify-content: space-around;

        &-item {
          border: 1px solid;
          border-radius: 10px;
          padding: 10px 30px;
          cursor: pointer;
          margin: 20px;

          &:hover {
            background-color: #edeef0;
            cursor: pointer;
          }
        }
      }
    }

    &-empty {
      font-size: 22px;
      margin: 30px 50px;
    }
  }
}
