.portfolio {

  &__price {
    border-bottom: 1px solid;
    margin: 5px 0;
  }

  &__values {
    display: flex;
    align-items: center;
  }

  &__element {
    margin-right: 60px;
    padding: 15px;
  }

  &__name, &__price-usd {
    min-width: 130px;
  }

  &__amount {
    min-width: 30px;
  }

  &__delete-button {
    border: 1px solid;
    border-radius: 100%;
    padding: 0 8px;

    &:hover {
      background-color: #edeef0;
      cursor: pointer;
    }
  }

  &__delete-modal {
    display: flex;
    justify-content: space-around;
  }

  &__empty-portfolio {
    font-size: 22px;
    margin: 30px 50px;
  }
}
