.values {

  &__header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid;
  }

  &__rank, &__changes, &__add-header {
    min-width: 65px;
  }

  &__name, &__price, &__symbol {
    min-width: 130px;
  }

  @media (max-width: 630px) {
    &__name, &__changes {
      display: none;
    }
  }

  &__value {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    cursor: pointer;

    &:hover {
      background-color: #edeef0;
    }
  }

  &__add-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    border: 1px solid;
    border-radius: 15px;
    padding: 5px 0;
    cursor: pointer;
  }
}
