.values {

  &__header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid;
  }

  &__rank, &__changes, &__add-header {
    min-width: 65px;
  }

  &__name, &__price, &__symbol {
    min-width: 130px;
  }

  @media (max-width: 630px) {
    &__name, &__changes {
      display: none;
    }
  }
}
