.value {

  &__header {
    display: flex;
    padding: 10px;
    border-bottom: 1px solid;
    justify-content: center;
    position: relative;
  }

  &__header-back {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;

    &:hover {
      background-color: #edeef0;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__graphic {
    margin: 20px 0;
  }

  &__graphic-item {
    margin: 10px;
    padding: 3px 8px;
    cursor: pointer;

    &-active {
      border-bottom: 1px solid #8884d8;
    }
  }

  &__item {
    padding: 10px;
  }
}
